<div class="column is-8 is-offset-2">
    <div class="column">
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4">{{title}}</p>
                        <p class="subtitle is-6">By: <b>{{user.username}}</b> | <i>{{createdAt}}</i></p>
                    </div>
                </div>
                <div class="content">
                    {{content}}
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4">Comments</p>
                    </div>
                </div>
                <div class="card-footer">
                    <ul>
                        {{#each comments as |comment|}}
                                <li class="pb-1"><b>{{comment.content}}</b> - <i>{{comment.user.username}}, {{comment.createdAt}}</i></li>
                            {{/each}}
                    </ul>
                </div>
                <hr>
                <a class="button is-primary">New Comment</a>
            </div>
        </div>
    </div>
</div>