<div class="column is-8 is-offset-2">
    <h1 class="ml-3">Dashboard</h1>
    {{#each posts as |post| }}
    <div class="column">
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4">{{post.title}} <a class="button is-primary is-small" href="post/{{post.id}}">Update Post</a> </p>
                        <p class="subtitle is-6">By: <b>{{post.user.username}}</b> | <i>{{post.createdAt}}</i></p>
                    </div>
                </div>

                <div class="content">
                    {{post.content}}
                </div>
                <div class="card-footer">
                    <a href="/comments/{{post.id}}">comments</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    <a class="button is-primary ml-3" href="/newpost">New Post</a>
</div>